[submodule "openti_custom_addons"]
	path = openti_custom_addons
	url = https://github.com/UrbosSmartCity/openti_custom_addons.git
[submodule "web"]
	path = web
	url = https://github.com/OCA/web.git
	branch = 12.0
[submodule "website-cms"]
	path = website-cms
	url = https://github.com/OCA/website-cms.git
	branch = 12.0
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/OCA/account-invoicing.git
	branch = 12.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 12.0
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 12.0
[submodule "account-payment"]
	path = account-payment
	url = https://github.com/OCA/account-payment.git
	branch = 12.0
[submodule "account-analytic"]
	path = account-analytic
	url = https://github.com/OCA/account-analytic.git
	branch = 12.0
[submodule "account-reconcile"]
	path = account-reconcile
	url = https://github.com/OCA/account-reconcile.git
	branch = 12.0
[submodule "account-closing"]
	path = account-closing
	url = https://github.com/OCA/account-closing.git
	branch = 12.0
[submodule "account-invoice-reporting"]
	path = account-invoice-reporting
	url = https://github.com/OCA/account-invoice-reporting.git
	branch = 12.0
[submodule "account-fiscal-rule"]
	path = account-fiscal-rule
	url = https://github.com/OCA/account-fiscal-rule.git
	branch = 12.0
[submodule "account-budgeting"]
	path = account-budgeting
	url = https://github.com/OCA/account-budgeting.git
	branch = 12.0
[submodule "account-consolidation"]
	path = account-consolidation
	url = https://github.com/OCA/account-consolidation.git
	branch = 12.0
[submodule "addons-konos"]
	path = addons-konos
	url = https://github.com/KonosCL/addons-konos.git
	branch = 12.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 12.0
[submodule "pos"]
	path = pos
	url = https://github.com/OCA/pos.git
	branch = 12.0
[submodule "odooapps"]
	path = odooapps
	url = https://github.com/odoomates/odooapps.git
	branch = 12.0
[submodule "sale-workflow"]
	path = sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 12.0
[submodule "payment_chile/payment_khipu"]
	path = payment_chile/payment_khipu
	url = https://gitlab.com/dansanti/payment_khipu.git
	branch = 12.0
[submodule "payment_chile/payment_webpay"]
	path = payment_chile/payment_webpay
	url = https://gitlab.com/dansanti/payment_webpay.git
	branch = 12.0
[submodule "payment_chile/payment_currency"]
	path = payment_chile/payment_currency
	url = https://gitlab.com/dansanti/payment_currency.git
[submodule "website"]
	path = website
	url = https://github.com/OCA/website.git
	branch = 12.0
[submodule "fac_chile/l10_cl_fe"]
	path = fac_chile/l10_cl_fe
	url = https://gitlab.com/dansanti/l10n_cl_fe.git
	branch = 12.0
[submodule "fac_chile/l10n_cl_dte_exportacion"]
	path = fac_chile/l10n_cl_dte_exportacion
	url = https://gitlab.com/dansanti/l10n_cl_dte_exportacion.git
	branch = 12.0
[submodule "fac_chile/l10n_cl_dte_factoring"]
	path = fac_chile/l10n_cl_dte_factoring
	url = https://gitlab.com/dansanti/l10n_cl_dte_factoring.git
	branch = 12.0
[submodule "fac_chile/l10n_cl_stock_picking"]
	path = fac_chile/l10n_cl_stock_picking
	url = https://gitlab.com/dansanti/l10n_cl_stock_picking.git
	branch = 12.0
[submodule "payment_chile/payment_flow"]
	path = payment_chile/payment_flow
	url = https://gitlab.com/dansanti/payment_flow.git
	branch = 12.0
[submodule "fac_chile/l10n_cl_dte_point_of_sale"]
	path = fac_chile/l10n_cl_dte_point_of_sale
	url = https://gitlab.com/dansanti/l10n_cl_dte_point_of_sale.git
	branch = 12.0
